@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Tienne:wght@900&display=swap');

html, body {
    background: #292929;
    color: #eee;
    text-align: center;
    margin: 1em 1em 4em;
    padding: 0;
    font-family: Lato;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.6em;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
a {
    color: yellowgreen;
    text-decoration: none;
}
a:hover {
    color: yellow;
    text-decoration: underline;
}
.btn {
    background-color:#ff7f50;
    padding: 0.6em 1.3em;
    border: 1px solid darkcyan;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
}
.btn:active {
    background-color: #ce643e;
    border: 1px inset;
}
input.frm-control {
    background-color: #131516;
    border: 1px solid #333366;
    padding: 0.6em;
    font-size: 1em;
    color: #fff;
}
#results, #suggestions {
    max-width: 80%;
    margin: auto;
    margin-top: 1em;
}
.p0 {
    padding: 0;
}
.m0 {
    margin: 0;
}
.m1 {
    margin: 1em;
}
.m2 {
    margin: 2em;
}
.mt-1 {
    margin-top: 1em;
}
.rounded {
    border-radius: 50%;
}
.hidden {
    display: none;
}

li.badge {
    display: inline-block;
    margin: 0.2em 0.4em;
    background-color: darkolivegreen;
    border-radius: 6px;
    padding: 2px 15px 6px;
    line-height: 1.6rem;
}
#frmAjaxHelper input {
    text-transform: uppercase;
}